#aboutBreak {
  height: 300px;
  width: 300px;

}

.aboutContainer {
  height: 100%;
  width: 100%;
}

#terminalBar {
  width: 100%;
}

.terminalContainer {
  height: 100%
  width: 100%
  background: black;
  margin-top: 140px;
}

.terminalBlack {
  height: 700px;
  background: black;
  margin-top: -3px;
  z-index: -100;
}

.nodisplay {
  font-family:COURIER;
  font-size: 14px;
  display: none;
  color: white;
  z-index: 100;
  }
