#aboutBreak {
  height: 300px;
  width: 300px;

}

.aboutContainer {
  height: 100%;
  width: 100%;
  background: aqua;
}

#terminalBar {
  width: 100%;
}

.terminalContainer {
  height: 100%
  width: 100%
  background: black;
}

.terminalBlack {
  height: 500px;
  background: black;
  margin-top: -3px;
  z-index: -100;
}

.nodisplay {
  display: none;
  color: #1EFF00;
  z-index: 100;
  }
