*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,
*:after {
  content: "";
}

html,
body {
  height: 100%;
}

body {
  position: relative;
  background: #f7f7f7;
}

.container,
.container * {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  -moz-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.thing {
  width: 15em;
  height: 15em;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border-width: 15em;
  border-style: solid;
  border-color: transparent;
  border-right-color: rgba(0, 0, 0, 0.1);
}
.thing:nth-child(1):nth-child(odd) {
  border-width: 5em;
  animation: spin 37s -0.1s linear infinite;
}
.thing:nth-child(1):nth-child(even) {
  border-width: 2em;
  animation: spin 79s -0.1s linear infinite reverse;
}
.thing:nth-child(2):nth-child(odd) {
  border-width: 4em;
  animation: spin 17s -0.2s linear infinite;
}
.thing:nth-child(2):nth-child(even) {
  border-width: 3em;
  animation: spin 0s -0.2s linear infinite reverse;
}
.thing:nth-child(3):nth-child(odd) {
  border-width: 1em;
  animation: spin 84s -0.3s linear infinite;
}
.thing:nth-child(3):nth-child(even) {
  border-width: 8em;
  animation: spin 14s -0.3s linear infinite reverse;
}
.thing:nth-child(4):nth-child(odd) {
  border-width: 5em;
  animation: spin 59s -0.4s linear infinite;
}
.thing:nth-child(4):nth-child(even) {
  border-width: 4em;
  animation: spin 96s -0.4s linear infinite reverse;
}
.thing:nth-child(5):nth-child(odd) {
  border-width: 10em;
  animation: spin 33s -0.5s linear infinite;
}
.thing:nth-child(5):nth-child(even) {
  border-width: 12em;
  animation: spin 63s -0.5s linear infinite reverse;
}
.thing:nth-child(6):nth-child(odd) {
  border-width: 5em;
  animation: spin 45s -0.6s linear infinite;
}
.thing:nth-child(6):nth-child(even) {
  border-width: 1em;
  animation: spin 98s -0.6s linear infinite reverse;
}
.thing:nth-child(7):nth-child(odd) {
  border-width: 7em;
  animation: spin 37s -0.7s linear infinite;
}
.thing:nth-child(7):nth-child(even) {
  border-width: 5em;
  animation: spin 79s -0.7s linear infinite reverse;
}
.thing:nth-child(8):nth-child(odd) {
  border-width: 9em;
  animation: spin 8s -0.8s linear infinite;
}
.thing:nth-child(8):nth-child(even) {
  border-width: 9em;
  animation: spin 65s -0.8s linear infinite reverse;
}
.thing:nth-child(9):nth-child(odd) {
  border-width: 1em;
  animation: spin 35s -0.9s linear infinite;
}
.thing:nth-child(9):nth-child(even) {
  border-width: 8em;
  animation: spin 27s -0.9s linear infinite reverse;
}
.thing:nth-child(10):nth-child(odd) {
  border-width: 3em;
  animation: spin 72s -1s linear infinite;
}
.thing:nth-child(10):nth-child(even) {
  border-width: 10em;
  animation: spin 5s -1s linear infinite reverse;
}
.thing:nth-child(11):nth-child(odd) {
  border-width: 7em;
  animation: spin 86s -1.1s linear infinite;
}
.thing:nth-child(11):nth-child(even) {
  border-width: 7em;
  animation: spin 62s -1.1s linear infinite reverse;
}
.thing:nth-child(12):nth-child(odd) {
  border-width: 6em;
  animation: spin 83s -1.2s linear infinite;
}
.thing:nth-child(12):nth-child(even) {
  border-width: 6em;
  animation: spin 54s -1.2s linear infinite reverse;
}
.thing:nth-child(13):nth-child(odd) {
  border-width: 9em;
  animation: spin 43s -1.3s linear infinite;
}
.thing:nth-child(13):nth-child(even) {
  border-width: 10em;
  animation: spin 22s -1.3s linear infinite reverse;
}
.thing:nth-child(14):nth-child(odd) {
  border-width: 10em;
  animation: spin 26s -1.4s linear infinite;
}
.thing:nth-child(14):nth-child(even) {
  border-width: 9em;
  animation: spin 20s -1.4s linear infinite reverse;
}
.thing:nth-child(15):nth-child(odd) {
  border-width: 1em;
  animation: spin 37s -1.5s linear infinite;
}
.thing:nth-child(15):nth-child(even) {
  border-width: 7em;
  animation: spin 21s -1.5s linear infinite reverse;
}
.thing:nth-child(16):nth-child(odd) {
  border-width: 2em;
  animation: spin 61s -1.6s linear infinite;
}
.thing:nth-child(16):nth-child(even) {
  border-width: 5em;
  animation: spin 19s -1.6s linear infinite reverse;
}
.thing:nth-child(17):nth-child(odd) {
  border-width: 5em;
  animation: spin 87s -1.7s linear infinite;
}
.thing:nth-child(17):nth-child(even) {
  border-width: 0em;
  animation: spin 34s -1.7s linear infinite reverse;
}
.thing:nth-child(18):nth-child(odd) {
  border-width: 7em;
  animation: spin 61s -1.8s linear infinite;
}
.thing:nth-child(18):nth-child(even) {
  border-width: 3em;
  animation: spin 3s -1.8s linear infinite reverse;
}
.thing:nth-child(19):nth-child(odd) {
  border-width: 9em;
  animation: spin 88s -1.9s linear infinite;
}
.thing:nth-child(19):nth-child(even) {
  border-width: 13em;
  animation: spin 0s -1.9s linear infinite reverse;
}
.thing:nth-child(20):nth-child(odd) {
  border-width: 14em;
  animation: spin 2s -2s linear infinite;
}
.thing:nth-child(20):nth-child(even) {
  border-width: 6em;
  animation: spin 15s -2s linear infinite reverse;
}
.thing:nth-child(21):nth-child(odd) {
  border-width: 5em;
  animation: spin 72s -2.1s linear infinite;
}
.thing:nth-child(21):nth-child(even) {
  border-width: 14em;
  animation: spin 84s -2.1s linear infinite reverse;
}
.thing:nth-child(22):nth-child(odd) {
  border-width: 13em;
  animation: spin 64s -2.2s linear infinite;
}
.thing:nth-child(22):nth-child(even) {
  border-width: 1em;
  animation: spin 78s -2.2s linear infinite reverse;
}
.thing:nth-child(23):nth-child(odd) {
  border-width: 10em;
  animation: spin 86s -2.3s linear infinite;
}
.thing:nth-child(23):nth-child(even) {
  border-width: 9em;
  animation: spin 88s -2.3s linear infinite reverse;
}
.thing:nth-child(24):nth-child(odd) {
  border-width: 9em;
  animation: spin 96s -2.4s linear infinite;
}
.thing:nth-child(24):nth-child(even) {
  border-width: 11em;
  animation: spin 22s -2.4s linear infinite reverse;
}
.thing:nth-child(25):nth-child(odd) {
  border-width: 14em;
  animation: spin 22s -2.5s linear infinite;
}
.thing:nth-child(25):nth-child(even) {
  border-width: 9em;
  animation: spin 24s -2.5s linear infinite reverse;
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
  }
}
@keyframes spin {
  100% {
    -moz-transform: rotateZ(360deg);
    -ms-transform: rotateZ(360deg);
    -webkit-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
  }
}

