.projectContainer {
  width: 100%;
  margin-top: 0%;
  height:100%;
  background:  #EEF1F3;
  z-index: 100;
  }

.projectWrapper {
  margin: auto;
  width: 80%;
  background:  #EEF1F3;
  z-index: -2;
  height:100%;
  
}
.projectWrapper h3 {
  text-align: center;
}

.projectImage {
  max-width: 300px;
  border: 2px solid black;
  margin-left: 15px;
  opacity: 1;  
}
.seatProject {
  float: left;
  padding: 30px; 
  margin: auto;
  background:  #EEF1F3;
  z-index: 100;
  margin-top: 0px;
  display: none; 
}

.comparisonProject {
  float: left;
  padding: 30px;
  margin: auto;
  background:  #EEF1F3;
  z-index: 100;
  margin-top: 0px;
  display: none; 
}

.pawProject  {
  float: left;
  padding: 30px;
  margin: auto;
  background:  #EEF1F3;
  z-index: 100;
  margin-top: 0px;
  display: none; 
}

#seatBreak {
  height: 300px;
  width: 300px;
}

#comparisonBreak {
  height: 300px;
  width: 300px;
}

#pawBreak {
  height: 300px;
  width: 300px;
}


.seatContainer {
  height: 100%;
  width: 100%;
  background: lightsalmon;
}

.comparisonContainer {
  height: 100%;
  width: 100%;
  background: lightblue;
}

.pawContainer {
  height: 100%;
  width: 100%;
  background: lightgreen;
}