@import url(http://fonts.googleapis.com/css?family=Roboto:100);
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}


#world {
  display: block;
}

body {
  font-weight: 100;
  background: #EEF1F3;
  line-height: 1;
  font-family: Consolas, monospace;
}
h1, h2 {
  font-weight: 100;
  margin: 0;
  
}

h1 { 
    font-size:150%;
    width:7.0em;
    padding-left: 10px;
    padding-top: 10px;
    white-space:nowrap;
    overflow:hidden;
    color: #1586d1;
    -webkit-animation: typing 0.8s steps(30, end), /* # of steps = # of characters */
                        blink-caret 1s step-end infinite;
    -moz-animation: typing 17s steps(30, end), /* # of steps = # of characters */
                        blink-caret 1s step-end infinite;
*/
}

@-webkit-keyframes typing {
    from { width: 0 }
    to { width:7.0em }
}

@-moz-keyframes typing {
    from { width: 0 }
    to { width:10.3em }
}

/*@-webkit-keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: black }
}*/

@-moz-keyframes blink-caret {
    from, to { border-color: transparent } 50% { border-color: black }
}

.nav {
  position: fixed;
  height: 170px;
  width: 500px; 
  margin-top: 0px;
  z-index: 1000;
}
.nav h1:hover {
  top: 17px;
  color: black;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -ms-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
  z-index: -10;
}
.navClose {
  position: fixed;
  height:300px;
  width: 600px;
  z-index: 999;
}

.line {
  margin: 0 auto;
  padding: 0;
  display: none;
  position: relative;
  width: 1px;
  height: 35px;
  top: 22px;
  opacity: 0.2;
  background: black;
  margin-left: 6%;
  margin-top: -1.4%;
  z-index: 1000;
  
}


a:link {color: black;}      /* unvisited link */
a:visited {color:black;}  /* visited link */
a:hover {color: grey;}  /* mouse over link */
a:active {color: black;}

.navLinks, .navLinks a {
  text-decoration: none;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 0px;
  float: left;

}


.box {
  margin: 0 auto;
  padding: 0;
  display: none;
  position: relative;
  width: 401px;
  height: 30px;
  top: 30px;
  opacity: 0.2;
  background: #EEF1F3;
  text-align: center;
  line-height: 30px;
  color: #345;
  border: 1px solid black;
  margin-left: 2px;
  margin-top: -8px;

}

.summaryContainer {
  z-index: -1;
  height: 100%;
}


.summary {
  padding: 30px;
  padding-right: 25%;
  padding-left: 25%;
}

#parallaxBreak {
  height: 20%;
  width: 100%;
}

.parallaxContainer {
 height: 100%;
 width: 100%;
 position: absolute ;
 z-index: 1;
}


.parImage1 h4{
  font-size: 45px;
  color: grey;
  height: 195px;
  float: left;
  z-index: 100;
  background-color: #EEF1F3;
  margin: 0px;


}

.parImage2 h4{
  font-size: 45px;
  color: grey;
  height: 100px;
  float: right;
  margin-top: -525px;
  z-index: 100;
  background-color:  #EEF1F3;
 } 




