<section id="about">
    <div class="container">
        <div class="row">
            <div class="column small-12 medium-6">
                <h1>About</h1>
                <p>I'm a digital experience developer that has a passion of helping and solving complex problems. I wear many hats and can be adaptable to the challenges presented to me.</p>
            </div>
            <div class="column small-12 medium-6 about-list">
                <ul>
                    <li>
                        <h3>Problem Solving</h3>
                        <p>I can take vague problems and requirements and break them down into steps and solutions.</p>
                    </li>
                    <li>
                        <h3>Systems</h3>
                        <p>I'm good at thinking abstractly and putting together systems with many moving parts.</p>
                    </li>
                    <li>
                        <h3>Communication</h3>
                        <p>I can explain things clearly, communicate problems quickly and write accurately and concisely.</p>
                    </li>
                    <li>
                        <h3>Organization</h3>
                        <p>Self managing, work to deadlines, organise projects and present well-structured and complete deliverables.</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>