<section id="work">
    <div class="container">
        <div class="row">
            <div class="column small-12 medium-4">
                <a target="_blank" href="https://jobs.nike.com/">
                    <img src="./dist/img/nike.svg" alt=""/>
                </a>
            </div>
            <div class="column small-12 medium-4">
                <a target="_blank" href="https://jobs.converse.com/">
                    <img src="./dist/img/converse.png" alt=""/>
                </a>
        </div>
            <div class="column small-12 medium-4">
                <img src="./dist/img/butchershop.svg" alt=""/>
            </div>
            <div class="column small-12 medium-4">
                <img src="./dist/img/haufe.svg" alt=""/>
            </div>
            <div class="column small-12 medium-4">
                <img src="./dist/img/okta.svg" alt=""/>
            </div>
            <div class="column small-12 medium-4">
                <img src="./dist/img/lsvp.svg" alt=""/>
            </div>
            <div class="column small-12 medium-4">
                    <img src="./dist/img/zuora.svg" alt=""/>
                </div>
                <div class="column small-12 medium-4">
                    <img src="./dist/img/wgi.svg" alt=""/>
                </div>
                <div class="column small-12 medium-4">
                        <img src="./dist/img/lumiata.svg" alt=""/>
                    </div>
        </div>
    </div>
</section>