<section id="work">
    <div class="container">
        <div class="row">
            <div class="column small-12 medium-6 work-headline-container">
                <h1>Recent Work</h1>
            </div>
        </div>
        <div class="row">
            <div class="column small-12 medium-4">
                <a target="_blank" href="https://jobs.nike.com/">
                    <img src="./dist/img/nike.svg" alt="" />
                    <div class="work-info">
                        <p>Nike Careers</p>
                    </div>
                </a>
            </div>
            <div class="column small-12 medium-4">
                <a target="_blank" href="https://jobs.converse.com/">
                    <img src="./dist/img/converse.png" alt="" />
                    <div class="work-info">
                        <p>Converse Careers</p>
                    </div>
                </a>
            </div>
            <div class="column small-12 medium-4">
                <a target="_blank" href="https://butchershop.co/">
                    <img src="./dist/img/butchershop.svg" alt="" />
                    <div class="work-info">
                        <p>Butchershop</p>
                    </div>
                </a>
            </div>
            <div class="column small-12 medium-4">
                <img src="./dist/img/haufe.svg" alt="" />
            </div>
            <div class="column small-12 medium-4">
                <a target="_blank" href="https://bluewolf.com/">
                    <img src="./dist/img/bluewolf.svg" alt="" />
                    <div class="work-info">
                        <p>Bluewolf</p>
                    </div>
                </a>
            </div>
            <div class="column small-12 medium-4">
                <img src="./dist/img/okta.svg" alt="" />
            </div>
            <div class="column small-12 medium-4">
                <a target="_blank" href="https://zenefits.com/">
                    <img src="./dist/img/zenefits.svg" alt="" />
                    <div class="work-info">
                        <p>Zenefits HR Company</p>
                    </div>
                </a>
            </div>
            <div class="column small-12 medium-4">
                <img src="./dist/img/tonal.svg" alt="" />
            </div>
            <div class="column small-12 medium-4">
                <a target="_blank" href="https://arcline.com/">
                    <img src="./dist/img/arcline.svg" alt="" />
                    <div class="work-info">
                        <p>Arcline</p>
                    </div>
                </a>
            </div>
            <div class="column small-12 medium-4">
                <a target="_blank" href="https://lsvp.com/">
                    <img src="./dist/img/lsvp.svg" alt="" />
                    <div class="work-info">
                        <p>Lightspeed</p>
                    </div>
                </a>
            </div>
            <div class="column small-12 medium-4">
                <a target="_blank" href="https://instabase.com/">
                    <img src="./dist/img/instabase.svg" alt="" />
                    <div class="work-info">
                        <p>Instabase</p>
                    </div>
                </a>

            </div>
            <div class="column small-12 medium-4">
                <a target="_blank" href="https://zuora.com/">
                    <img src="./dist/img/zuora.svg" alt="" />
                    <div class="work-info">
                        <p>Zuora</p>
                    </div>
                </a>
            </div>
            <div class="column small-12 medium-4">
                <a target="_blank" href="https://worldsgreatestinternship.co/">
                    <img src="./dist/img/wgi.svg" alt="" />
                    <div class="work-info">
                        <p>Worlds Greatest Internship</p>
                    </div>
                </a>
            </div>
            <div class="column small-12 medium-4">
                <img src="./dist/img/lumiata.svg" alt="" />
            </div>
            <div class="column small-12 medium-4">
                <a target="_blank" href="https://steeleglobal.com/">
                    <img src="./dist/img/steele.svg" alt="" />
                    <div class="work-info">
                        <p>Steele</p>
                    </div>
                </a>
            </div>
            <div class="column small-12 medium-4">
                <a target="_blank" href="https://rentjasper.com/">
                    <img src="./dist/img/jasper.svg" alt="" />
                    <div class="work-info">
                        <p>Jasper</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>