<section id="work">
    <div class="container">
        <div class="row">
            <div class="column small-12 medium-6 work-headline-container">
                <h2>Recent Work</h2>
            </div>
        </div>
        <div class="row">
            <div class="column small-12 medium-4">
                <a target="_blank" href="https://jobs.nike.com/">
                    <img src="./dist/img/nike.svg" alt="" />
                    <div class="work-info">
                        <p><b>Nike Careers</b></p>
                    </div>
                </a>
            </div>
            <div class="column small-12 medium-4">
                <a target="_blank" href="https://jobs.converse.com/">
                    <img src="./dist/img/converse.png" alt="" />
                    <div class="work-info">
                        <p><b>Converse Careers</b></p>
                    </div>
                </a>
            </div>
            <div class="column small-12 medium-4">
                <a target="_blank" href="https://butchershop.co/">
                    <img src="./dist/img/butchershop.svg" alt="" />
                    <div class="work-info">
                        <p><b>Butchershop</b></p>
                    </div>
                </a>
            </div>
            <div class="column small-12 medium-4">
                <img src="./dist/img/haufe.svg" alt="" />
            </div>
            <div class="column small-12 medium-4">
                <a target="_blank" href="https://bluewolf.com/">
                    <img src="./dist/img/bluewolf.svg" alt="" />
                    <div class="work-info">
                        <p><b>Bluewolf</b></p>
                    </div>
                </a>
            </div>
            <div class="column small-12 medium-4">
                <img src="./dist/img/okta.svg" alt="" />
            </div>
            <div class="column small-12 medium-4">
                <a target="_blank" href="https://zenefits.com/">
                    <img src="./dist/img/zenefits.svg" alt="" />
                    <div class="work-info">
                        <p><b>Zenefits HR Company</b></p>
                    </div>
                </a>
            </div>
            <div class="column small-12 medium-4">
                <img src="./dist/img/tonal.svg" alt="" />
            </div>
            <div class="column small-12 medium-4">
                <a target="_blank" href="https://arcline.com/">
                    <img src="./dist/img/arcline.svg" alt="" />
                    <div class="work-info">
                        <p><b>Arcline</b></p>
                    </div>
                </a>
            </div>
            <div class="column small-12 medium-4">
                <a target="_blank" href="https://lsvp.com/">
                    <img src="./dist/img/lsvp.svg" alt="" />
                    <div class="work-info">
                        <p><b>Lightspeed</b></p>
                    </div>
                </a>
            </div>
            <div class="column small-12 medium-4">
                <a target="_blank" href="https://instabase.com/">
                    <img src="./dist/img/instabase.svg" alt="" />
                    <div class="work-info">
                        <p><b>Instabase</b></p>
                    </div>
                </a>

            </div>
            <div class="column small-12 medium-4">
                <a target="_blank" href="https://zuora.com/">
                    <img src="./dist/img/zuora.svg" alt="" />
                    <div class="work-info">
                        <p><b>Zuora</b></p>
                    </div>
                </a>
            </div>
            <div class="column small-12 medium-4">
                <a target="_blank" href="https://worldsgreatestinternship.co/">
                    <img src="./dist/img/wgi.svg" alt="" />
                    <div class="work-info">
                        <p><b>Worlds Greatest Internship</b></p>
                    </div>
                </a>
            </div>
            <div class="column small-12 medium-4">
                <img src="./dist/img/lumiata.svg" alt="" />
            </div>
            <div class="column small-12 medium-4">
                <a target="_blank" href="https://steeleglobal.com/">
                    <img src="./dist/img/steele.svg" alt="" />
                    <div class="work-info">
                        <p><b>Steele</b></p>
                    </div>
                </a>
            </div>
            <div class="column small-12 medium-4">
                <a target="_blank" href="https://rentjasper.com/">
                    <img src="./dist/img/jasper.svg" alt="" />
                    <div class="work-info">
                        <p><b>Jasper</b></p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>