//All Type goes here. IE H1-H6 . P
h1,
h2,
h3,
h4,
h5,
p,
a,
li {
    font-family: 'Raleway', sans-serif;
    color: white;
}

ul {
    margin: 0;
    text-decoration: none;
    list-style-type: none;
    li {
        text-decoration: none;
        list-style-type: none;
    }
}